* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    height: 2500px;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 140px;
    margin: 0 auto;
}

.description__container {
    display: flex;
    gap: 24px;
    border: 72px;
    margin-top: 72px;
    margin-bottom: 120px;
}

li {
    list-style: none;
}

a {
   text-decoration: none; 
}

/* Web Studio */

.section__nav {
    height: 72px;
    width: 1440px;
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
}

.nav__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 24px;
}

.nav__logo{
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--NAVY-BLUE, #2E2F42);
}

.nav__menu {
    display: flex;
    gap: 40px;
    width: 261px;
    height: 24px;
    margin-left: 76px;
}

.nav__by-site {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.nav__studio{
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.nav__address {
    position: absolute;
    width: 350px;
    height: 24px;
    left: 950px;
    top: 24px;
}

.nav__meil {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-left: 20px;
}

/* Order-Service */

.section__order-service {
    width: 1440px;
    height: 600px;
    background: var(--NAVY-BLUE, #2E2F42);
    display: flex;
}

.order-service__inner {
    margin-top: 188px;
    margin-left: 330px;
    width: 500px;
    height: 230px;
}

.order-service__title {
    text-align: center;
    width: 496px;
    height: 120px;
    left: 50%;
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    margin-bottom: 48px;
}

.order-service__button {
    margin-left: 160px;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    color: var(--WHITE, #FFF);
}

/* description */

.section__description {
    height: 106px;
    margin: 0;
}

.description__inner {

}

.description__title {
    width: 264px;
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.description__of-work {
    width: 264px;
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/* What are we doing */

.what-are-we-doing__title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    padding-top: 120px;
}

.what-are-we-doing__container {
    height: 472px;
    padding-top: 72px;
}

.what-are-we-doing__foto {
    display: flex;
    gap: 24px;
    margin-bottom: 120px;
}

.what-are-we-doing__image {
    display: flex;
    gap: 24px;
    margin-top: 72px;
}

/* Our team */

.section__our-team {
    width: 1440px;
    height: 732px;
    flex-shrink: 0;
    background: var(--CLOUD, #F4F4FD);  
}

.our-team__title {
    padding-top: 120px;
    text-align: center;
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.our-team__foto {
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: 264px;
    height: 380px;
}

.our-team__team {
    width: 232px;
    height: 56px;
    padding: 32px;
}

.our-team__name {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-align: center;
}

.our-team__is-working {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-align: center;
    padding-top: 8px;
}

/* footer */

.section__adres {
    width: 1440px;
    height: 312px;
    flex-shrink: 0;
    background: var(--NAVY-BLUE, #2E2F42);
}

.adres__inner {
    width: 300px;
    height: 110px;
    padding-top: 100px;
}

.adres__title {
    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding-bottom: 12px;
}

.adres__description {
    width: 264px;
    color: var(--CLOUD, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/* portfolio */

.portfolio {
    height: 2076px;
    margin: 0;
}

.portfolio__buttons {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    padding-top: 96px;
    padding-left: 330px;
    padding-bottom: 72px;
}

.portfolio__button {
    border-radius: 4px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--CLOUD, #F4F4FD);
    padding: 12px 24px;
    color: var(--IRIS, #4D5AE5);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}

.portfolio__button:hover {
    background: var(--OCEAN, #404BBF);
    color: var(--WHITE, #FFF);
}

.portfolio__fotos {
    display: flex;
    flex-wrap: wrap;
    width: 1150px;    
    gap: 32px;
    background: var(--WHITE, #FFF);
    margin-bottom: 120px;
    padding: 0;
}

.portfolio__foto {
    width: 360px;
    height: 420px;
    margin-top:16px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF); 
}

.portfolio__description {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.portfolio__description-of-work {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.section__portfolio-adres {
    width: 1440px;
    height: 312px;
    flex-shrink: 0;
    background: var(--NAVY-BLUE, #2E2F42);  
}